

/*
     FILE ARCHIVED ON 03:14:48 Dec 25, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:36:32 Jul 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.413
  exclusion.robots: 0.031
  exclusion.robots.policy: 0.022
  esindex: 0.008
  cdx.remote: 8.708
  LoadShardBlock: 132.066 (3)
  PetaboxLoader3.datanode: 117.062 (4)
  PetaboxLoader3.resolve: 448.622 (2)
  load_resource: 675.89
*/